################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUX
/bin/Debug
/obj/Debug
/Properties
/SolidPrinciples/obj/Debug
/SolidPrinciples/Properties
/CRUX.Solid/bin/Debug/net8.0
/CRUX.Solid/obj
/SolidPrinciples/obj
/.vs/ProjectEvaluation
/BasicsPractice/bin/Debug/net8.0
/BasicsPractice/obj
